<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<h6>VetAround</h6>
				<p>Torino, Italy</p>
			</div>
			<div class="col-sm-4 copy">
				<p> Copyright 2017 © Tutti i diritti riservati</p>
				<p> Application developer by <a href="http://lucaspezzano.com/">Luca Spezzano</a></p>
			</div>
			<div class="col-sm-4 social">
				<div class="col-xs-6 text-center">
					<a href="">
						<img src="../img/facebook.png">
						<h5>Facebook</h5>
					</a>
				</div>
				<div class="col-xs-6 text-center">
					<a href="">
						<img src="../img/twitter.png">
						<h5>Twitter</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
	
</div>