<!doctype html>
<html>
  <head>
  
  </head>
  <body>
    <header>
      <h1><a href="/reminders">Reminder</a></h1>
     
    </header>
    <hr>
    <!-- the below `triple-stash`, avoid handlebars escaping any html -->
   {{{body}}}
  </body>
</html>