//////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// COLORS /////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////

$colors: #008000, #00FF00, #004200, #00E100, #82C168;
$main-color: #4CBB17;
$secondary-color: #308014;
$third-color: #395D33;
$white: #fff;
$black: #000;
$max: 5;
$stroke-step: 10%;