$colors: #008000, #00FF00, #004200, #00E100, #82C168;
$main-color: #4CBB17;
$light-green: #cef7bb;
$secondary-color: #308014;
$gray-color: #666666;
$third-color: #395D33;
$white: #fff;
$black: #000;
$max: 5;
$stroke-step: 10%;