html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  background-color: #fff; }

svg {
  font: 10em Arial;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 60px;
  left: 0;
  z-index: -1; }
  @media only screen and (max-width: 970px) {
    svg {
      top: -200px;
      font-size: 10em; } }
  @media only screen and (max-width: 750px) {
    svg {
      top: -200px;
      font-size: 5em; } }

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 10% 40%;
  stroke-width: 3px;
  animation: stroke-offset 7s linear; }
  .text-copy:nth-child(1) {
    stroke: #008000;
    stroke-dashoffset: 10%; }
  .text-copy:nth-child(2) {
    stroke: #00FF00;
    stroke-dashoffset: 20%; }
  .text-copy:nth-child(3) {
    stroke: #004200;
    stroke-dashoffset: 30%; }
  .text-copy:nth-child(4) {
    stroke: #00E100;
    stroke-dashoffset: 40%; }
  .text-copy:nth-child(5) {
    stroke: #82C168;
    stroke-dashoffset: 50%; }

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: 50%;
    stroke-dasharray: 0 125%; } }
#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover; }

.navbar-changes {
  border-radius: 0;
  z-index: 11;
  background-color: #4CBB17;
  color: #fff;
  border-color: #4CBB17; }
  .navbar-changes a {
    color: #fff !important;
    padding-bottom: 3px; }
    .navbar-changes a:hover {
      text-decoration: underline !important; }

.box-background {
  margin-top: 300px;
  text-align: center; }
  @media only screen and (max-width: 750px) {
    .box-background {
      margin-top: 200px; } }

.btn.button-changes {
  z-index: 13;
  background-color: #4CBB17;
  border-color: #4CBB17;
  outline: none !important; }
  .btn.button-changes:hover {
    background-color: #4ac71f;
    border-color: #4CBB17; }
  .btn.button-changes:active {
    background-color: #4ac71f;
    border-color: #4CBB17; }
  .btn.button-changes:visited {
    background-color: #4ac71f;
    border-color: #4CBB17; }
  .btn.button-changes:focus {
    background-color: #4ac71f;
    border-color: #4CBB17; }

.modal-footer .btn.btn-primary-changes {
  outline: none;
  background-color: #4CBB17; }
  .modal-footer .btn.btn-primary-changes:hover {
    background-color: #4ac71f;
    border-color: #4CBB17; }
  .modal-footer .btn.btn-primary-changes:active {
    background-color: #4ac71f;
    border-color: #4CBB17; }
  .modal-footer .btn.btn-primary-changes:visited {
    background-color: #4ac71f;
    border-color: #4CBB17; }
  .modal-footer .btn.btn-primary-changes:focus {
    background-color: #4ac71f;
    border-color: #4CBB17; }

#typed {
  text-shadow: 1px 1px #fff; }

.col-changes {
  border: 1px solid #308014;
  padding: 0;
  border-radius: 4px;
  position: relative;
  margin: 2% 0; }
  @media only screen and (min-width: 993px) {
    .col-changes {
      width: 23%;
      margin: 2% 1%; } }

.panel-changes a:hover {
  text-decoration: none; }

.panel-heading-changes {
  background-color: #4CBB17;
  color: #fff;
  text-align: center;
  height: 50px; }
  .panel-heading-changes:hover {
    background-color: #52cc19; }

.panel-body-changes {
  padding-top: 0;
  height: 218px;
  word-break: break-all; }

#search {
  width: 50%;
  margin-top: 21px; }

.footer {
  height: 6%;
  width: 100%;
  background-color: #4CBB17;
  color: white;
  position: absolute;
  bottom: 0; }

.row-changes {
  margin-bottom: 100px; }

.comments {
  background-color: #fff;
  left: -1px;
  width: 100.8%;
  border: 1px solid #4CBB17;
  padding: 3px 6px;
  position: absolute;
  z-index: 2;
  border-radius: 4px;
  word-break: break-all;
  overflow-y: scroll;
  height: 287px; }
  @media only screen and (max-width: 750px) {
    .comments {
      width: 100.4%; } }
  .comments .userName {
    font-weight: bold;
    color: #4CBB17; }
  .comments p {
    margin: 0 0 3px 0;
    font-style: italic; }
  .comments h5 {
    margin: 0; }

.x {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #4CBB17;
  cursor: pointer; }

.button-link {
  background-color: transparent;
  border: none;
  color: #003399;
  outline: none;
  padding: 0; }
  .button-link:hover {
    text-decoration: underline; }

.button-link2 {
  background-color: transparent;
  border: none;
  color: #4CBB17;
  outline: none;
  margin-bottom: 14px;
  padding: 0; }

textarea {
  border-radius: 2px;
  border-color: lightgray;
  width: 100%; }

textarea::-webkit-input-placeholder {
  font-size: .8em; }

.show-input-comment {
  margin-bottom: 20px; }

.div-button-delete {
  position: absolute;
  bottom: 5px; }

.container-up1 {
  width: 70%;
  height: 200px;
  border-top: 3px solid #4CBB17;
  position: absolute;
  left: 15%;
  top: -60px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 50px 20px #c8c8c8;
  padding: 5px 60px;
  display: block; }

.container-up-next {
  width: 70%;
  height: 200px;
  position: absolute;
  left: 15%;
  top: 140px;
  background-color: #fff;
  z-index: 1;
  padding: 5px 60px; }

/*# sourceMappingURL=style.css.map */
